@import 'tailwindcss';

@theme {
    --font-sans: 'Inter', system-ui, sans-serif;
    --font-serif: 'EB Garamond', serif;

    --color-background: #ffffff;
    --color-foreground: #19191d;

    --color-primary-blue: #3152f4;
    --color-secondary-blue: #dde2ee;

    --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);

    --radius-xl: 0.75rem;
    --radius-2xl: 1rem;
    --radius-4xl: 2rem;
}

/* Custom Utilities from Cluely */
@utility purple-gradient-button {
    background: radial-gradient(179.05% 132.83% at 46.18% -23.44%, #1562df 0%, #0c26a8 100%);
    box-shadow: 0px 0px 0px 0.67755px #0c44a1, inset 0px -1.3551px 0px #022c70, inset 0px 0.67755px 0px #81b6ff, 0px 9.00227px 27.907px rgba(107, 109, 231, 0.77), 0px 178.891px 50.1437px transparent, 0px 115.195px 46.0779px rgba(0, 0, 0, 0.02), 0px 65.0514px 39.3015px rgba(0, 0, 0, 0.08), 0px 28.4599px 28.4599px rgba(0, 0, 0, 0.13), 0px 6.77615px 16.2628px rgba(0, 0, 0, 0.16);
}

@utility blurred-border {
    border-radius: 12px;
}

@utility perspective-midrange {
    perspective: 2000px;
}

@utility hero-v2 {
    background-image: image-set(url("/images/background.png") 1x,
            url("/images/background@2x.png") 2x,
            url("/images/background@4x.png") 4x);
    background-position: top;
    background-repeat: no-repeat;
    background-size: max(100vw, 100rem);
}

/* Base Styles */
body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-sans);
}

.dark body {
    background-color: #000;
    color: #fff;
}

/* Cluely specific tweaks */
.purple-gradient-button:after {
    content: "";
    mix-blend-mode: overlay;
    border-radius: inherit;
    z-index: 0;
    opacity: 0;
    background: radial-gradient(101.79% 101.79% at 65.61% 81.79%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    inset: 1px;
}

.purple-gradient-button:hover:after {
    opacity: 0.4;
}